/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Color Variables */
  --grey-900: #141414;
  --grey-800: #1F1F1F;
  --grey-700: #333333;
  --green: #C4F82A;
  --white: #FFFFFF;

  /* Spacing Variables */
  --spacing-500: 2.5rem;   /* 40px */
  --spacing-300: 1.5rem;   /* 24px */
  --spacing-200: 1rem;     /* 16px */
  --spacing-150: 0.75rem;  /* 12px */
  --spacing-100: 0.5rem;   /* 8px  */
  --spacing-50: 0.25rem;   /* 4px  */
}

/* Font Inter */

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.text-preset-1 {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

.text-preset-2 {
  font-size: 0.875rem; /* 16px */
  font-weight: 400;
}

.text-preset-2-bold {
  font-size: 0.875rem; /* 16px */
  font-weight: 700;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  /* Text-align here is import to align all the text. Links and titles */
  text-align: center;

  background-color: var(--grey-900);
  color: var(--white);

  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);

  width: 24rem; /* 384px */
  padding: var(--spacing-500);
  background-color: var(--grey-800);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-300);
}

.avatar-img {
  width: 88px;
  height: 88px;
  border-radius:50%;
  object-fit: cover;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
}

.sub-title {
  color: var(--green);
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);

  width: 100%;
}

.link {
  display: inline-block;
  padding: 0.75rem 0;
  text-decoration: none;

  width: 100%;

  background-color: var(--grey-700);
  color: var(--white);
  border-radius: 8px;

  transition: color, background-color 0.6s ease;
}

.link:hover,
.link:focus {
  color: var(--grey-700);
  background-color: var(--green);
  cursor: url("/assets/handcursor.svg") 6 0, pointer;
}

@media (max-width: 432px) {
  .container {
    width: 100%;
    margin: 0 var(--spacing-300);
    padding: var(--spacing-300);
  }
}